main {
  padding-top: 0px;
}

header {
  padding-top: 5px;
  padding-bottom: 15px;
}

nav {
  margin-bottom: 0px;
}

h3 {
  margin-top: 0px;
}

button {
  padding-top: 3px;
  padding-bottom: 3px;

  padding-left: 10px;
  padding-right: 10px;
}

table {
  margin-top: 15px;
}

.controls {
  display: flex;
  justify-content: end;
}

#btnSave {
  margin-left: 10px;
}